*/BUILD/*
*/mbed-os/*
*/.vs/*
./*
*.zip
*.bmp
*.o
*.exe
*.hex
*.elf
*.bin
c_serial/*
C8051F/*
Documents/*
libbmp/*
Linux_Camera_Interface/*
Linux_UVC_Camera/*
OV7670摄像头模块/*
PCB/*
raw/*
STC_OV7670_driver/*
stm32-mbed-serial/*
stm32-mbed-serial-20200307/*
串口工具/*
电路设计/*
发票/*
